<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qinfen">

    <application
        android:name=".MainActivity.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing" />

        <!--登录页-->
        <activity android:name=".MainActivity.ui.LoginActivity" />
        <!--快速消费-->
        <activity android:name=".MainActivity.ui.FastPayActivity" />
        <!--会员信息-->
        <activity android:name=".MainActivity.ui.VipUsetDetailsActivity" />
        <!--会员搜索-->
        <activity android:name=".MainActivity.ui.SearchActivity" />
        <!--剩余项目-->
        <activity android:name=".MainActivity.ui.SurplusProjectActivity" />
        <!--会员信息记录-->
        <activity android:name=".MainActivity.ui.RecordActivity" />
        <!--会员信息记录详情查看-->
        <activity android:name=".MainActivity.ui.RecordContentActivity" />

    </application>


</manifest>